/* #02B8DD bleu bouton 
 #444444 noir
 #DDDDDD gris formulaire
 Extra-Bold

@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: Extra-Bold;
	font-weight: 700;
	src: local('Montserrat Extra-Bold'), local('Montserrat-Extra-Bold'), url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap) format('truetype');
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: Bold;
	font-weight: 600;
	src: local('Montserrat Extra-Bold'), local('Montserrat-Bold'), url(https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap) format('truetype');
}
@font-face {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: 400;
	src: local('Montserrat Italic'), local('Montserrat-Italic'), url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap) format('truetype');
}*/
@font-face {
	font-family: 'Crete Round', serif;
	font-style: normal;
	font-weight: 400;
	src: local('Crete Round Regular'), local('Crete Round-Regular'), url(https://fonts.googleapis.com/css?family=Crete+Round:400,400i,600,700&display=swap) format('truetype');
}
* {
	font-family: 'Crete Round', serif;
}
body {
	margin: 0;
	padding: 0;

}

h1 {
	/*font-weight:bold;*/
	font-family: 'Open Sans', sans-serif;
	font-style: Extra-Bold;
}

h2 {
	/*font-weight:bold;*/
	font-family: 'Open Sans', sans-serif;
	font-style: Bold;
}

h2[class=bis]{
	/*font-weight:bold;*/
	font-family: 'Open Sans', sans-serif;
	font-style: Bold;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-style: Extra-Bold;
}


table .headband {
	background-image: url('images/main.jpg');
	background-repeat: no-repeat;
	width:1260px;
	height:435px;
	background-size: 1260px 435px;
}

body .headband__button {
	display:block;
	width: 100%;
	line-height:50px;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	font-size: 18px;
}

body .headband__button a {
	color: #FFFFFF;
	background-color: #FF7A00;
	text-decoration: none;
	/*border: 2px solid #FF7A00;
	padding: 0px 10px 10px 0px;*/
	padding: 10px 20px 10px 20px;
	text-align: center;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .1s;
	transition-duration: .1s;
}

body .headband__button a:hover {
	color: #FFFFFF;
	background-color: #FF7A00;
	padding: 15px 25px 15px 25px;
	cursor: pointer;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .1s;
	transition-duration: .1s;
}

article[class=card] {
    width:460px;
	height:270px;
    background-image: url('images/article-image-1.jpg');
    background-repeat: no-repeat;
    background-size: 460px 270px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px;
    padding: 0px;
    float: left;
}

article[class=card] a {
    font-size: 12px;
    color: #FFFFFF;
	background-color: #FF7A00;
    text-decoration: none;
    -webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
    transition-duration: .5s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

article[class=card] a:hover {
    color: #FFFFFF;
	background-color: #FF7A00;
	cursor: pointer;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
    transition-duration: .5s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
article[class=card2] {
    width:460px;
	height:270px;
    background-image: url('images/article-image-2.jpg');
    background-repeat: no-repeat;
    background-size: 460px 270px;
    border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px;
    padding: 0px;
    float: right;
}

article[class=card2] a {
    font-size: 12px;
    color: #FFFFFF;
	background-color: #FF7A00;
    text-decoration: none;
    -webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
    transition-duration: .5s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

article[class=card2] a:hover {
    color: #FFFFFF;
	background-color: #FF7A00;
	cursor: pointer;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .5s;
    transition-duration: .5s;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

/*article[class=card] p {
    padding: 0px 20px 0px 0px;
}*/

div[class=card-body] {
    width:190px;
	height:270px;
    background-color: #ffffff;
    color: rgb(121, 119, 119);
	font-family: 'Montserrat', sans-serif;
	font-size: 9px;
    letter-spacing: 0.5px;
    margin: 0px 20 0px 0px;
    /*margin: 10px 0 10px 0;
    padding: 0px 20px 0px 0px;*/
	line-height: 15px;
    text-align: center;
    vertical-align:middle;
	border-radius: 5px 0px 0px 5px ;
	padding: 0px 0px 0px 0px;
}

article h3 {
	margin-top: 0px;
}

.centrage div {
	margin: 0;
	padding: 0;
	/*background-color: #FF7A00;*/
	list-style-type: none;
	overflow-x: hidden;
	overflow-y: visible;
	display: block;
	max-width: 100%;
	position: static;
}
.body-corps div {
	margin: 50px 50px 50px 50px;
	padding: 50px 50px 50px 50px;
	list-style-type: none;
	overflow: visible;
	max-width: 80%;
	display: block;
	position: static;
}
/* img principale */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1260px;
	height: 437px;
	position: relative;
	/*top: 0%;
	left: 16%;*/
	margin-top: 50px;
	/*margin-left: 0px;*/
}

.example {
	/*background-image: url(Maquette/Agency1.png);*/
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 817px;
	margin: 0px;
    padding: 0px;
}
.example2 {
	/*background-image: url(Maquette/Agency2.png);*/
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	height: 817px;
	margin: 0px;
    padding: 0px;
}
@media (max-width: 1278px) {
	.example {
		background-size: cover;
	}
	.example2 {
		background-size: cover;
	}
}
/***************** HEADER *****************/
header {
	/*padding-left: 30%;*/
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	padding-top: 0px;
	font-size: smaller;
	padding-right: 25%;
	float: right;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	display: inline-block;
}

li a {
	display: inline-block;
	color: #444444;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	/*background-color: #FF7A00;*/
	color: #02B8DD;
}

footer {
	margin: 0px;
	padding: 0px;
}
section {
	margin: 0px;
	padding: 0px;
}
div {
	margin: 0px;
	padding: 0px;
}
label {
	cursor: default;
	font-weight:bold;
	color: #444444;
  }
/***************** FORM *****************/
input[type=button], input[type=submit], input[type=reset] {
	background-color: #02B8DD;
	border: none;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input[type="text"]{
	padding: 8px 10px;
	line-height: 10px;
}
